/*Google font*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handlee&display=swap");

/*General*/
body {
  margin: 0;
  background-color: #f1ecc4;
}

/*Gallery*/
#title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 26px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  margin: 10px;
}

.images {
  height: auto;
  width: 600px;
  margin: 10px;
  border-radius: 20px;
  border: 4px solid #3a2f2d;
}

.audio {
  display: flex;
  align-content: center;
  justify-content: center;
}

.youtube-trailer {
  margin: 10px;
  border-radius: 20px;
  border: 4px solid #3a2f2d;
}

.timelapse {
  height: 337.5px;
  width: 600px;
  animation-name: timelapse;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  margin: 10px;
  border-radius: 20px;
  border: 4px solid #3a2f2d;
}

@keyframes timelapse {
  0% {
    background-image: url(images/skyrim-high5.jpg);
    background-repeat: none;
    background-size: cover;
  }
  25% {
    background-image: url(images/skyrim-high2.jpg);
    background-repeat: none;
    background-size: cover;
  }
  50% {
    background-image: url(images/skyrim-high3.jpg);
    background-repeat: none;
    background-size: cover;
  }
  75% {
    background-image: url(images/skyrim-high4.jpg);
    background-repeat: none;
    background-size: cover;
  }
  100% {
    background-image: url(images/skyrim-high5.jpg);
    background-repeat: none;
    background-size: cover;
  }
}

/*Typography*/
h1 {
  color: #3a2f2d;
  padding: 10px;
  margin: 10px;
}

/*Navigation bar*/
nav {
  height: 20px;
  width: auto;
  padding: 10px;
  text-align: center;
  background-color: #3a2f2d;
  color: #f1ecc4;
  word-spacing: 30px;
}

a {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

a:link {
  color: #f1ecc4;
  text-decoration: none;
}

a:visited {
  color: #f1ecc4;
}

a:hover {
  color: #3a2f2d;
  background-color: #f1ecc4;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
